<div class="carousel-container">
  <div class="carousel">
    <div
      *ngFor="let order of recentWorkOrders; let i = index"
      class="card"
      [ngClass]="{
        active: i === activeIndex,
        'next-1': i === (activeIndex + 1) % recentWorkOrders.length,
        'next-2': i === (activeIndex + 2) % recentWorkOrders.length,
        'next-3': i === (activeIndex + 3) % recentWorkOrders.length,
        'next-4': i === (activeIndex + 4) % recentWorkOrders.length,
        
        
      }"
    >
      <div class="top">
        <span class="date">{{
          order.DatumOtvaranja | date : "dd MMM, yyyy"
        }}</span>
        <div class="priority">
          <span class="move">Priority: </span>
          <span>{{ order.Prioritet }}</span>
        </div>
      </div>
      <div class="title">
        <h3>{{ order.OpisProblema }}</h3>
      </div>
      <div class="bottom">
        <!-- <span>Client:</span> -->
        <span>{{ order.NazivKlijenta }}</span>
      </div>
    </div>
  </div>

  <button class="nav-button next" (click)="next()">
    <i class="icon fa-solid fa-angle-right"></i>
  </button>
</div>
