// src/variables.scss

//COLORS

$white-primary: #fbfbfb;
$white-secondary: #f0f3f4;
$dark-blue: #041226;
$dark-blue-lighter: #364151;
$text-color-dark: #242b39;
$text-color-light: #515961;
$text-color-lighter: #858a90;
$background-color: #b1c2c9;
$background-color-light: #eff2f4;
$default-font-size: 1.6rem;
